



body{
    background: white url('/Users/rry/Desktop/website/music/static/music/images/Good-Beach-Background-Free-Download.jpg
}


.navbar{
    border-radius : 0;
}



.navbar-brand{

    font-family: 'Satisfy' cursive;

}